<!DOCTYPE html>
<html>
  <head>
    <title>RemiixInc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,900;1,100;1,200;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://remiixinc.ml/assets/images/remiix.png"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="https://remiixinc.ml/assets/images/remiix.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="https://fonticon.glitch.me/font.css" />
    <script
      src="https://kit.fontawesome.com/6733872eda.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="body" oncontextmenu="return false;">
    {{ content | safe }}
  </body>
</html>
